{
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "_constants": "./src/constants",
          "_components": "./src/components",
          "_pages": "./src/pages",
          "_services": "./src/services"
        }
      }
    ]
  ]
}
