{
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      },
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "_components": "./components",
          "_pages": "./pages"
        }
      }
    ]
  ]
}