{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": "error",
    "react-hooks/rules-of-hooks": "error",
    "semi": "error"
  }
}