{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": "error",
    "key-spacing": "error",
    "react-hooks/rules-of-hooks": "error",
    "import/order": "off",
    "indent": ["error", 2, { "SwitchCase": 1, "ignoreComments": true } ],
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": "error",
    "simple-import-sort/sort": "error",
    "sort-imports": "off"
  },
  "compilerOptions": {
    "baseUrl": "./src",
    "paths": {
      "_components/*": ["components/*"],
      "_pages/*": ["pages/*"]
    }
  }
}