$header-height: 64px;
$footer-height: 46px;

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $header-height;
  z-index: 9999;

  .logo {
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}

.content {
  margin-top: $header-height;
  padding: 20px;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

.footer {
  text-align: center;
  height: $footer-height;
}
