$header-height: 64px;
$footer-height: 100px;

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $header-height;
  z-index: 9999;

  .logo {
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
}

.content {
  margin-top: $header-height;
  padding: 20px;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});

  .spinner {
    width: 100%;
    height: calc(100vh - 40px - #{$header-height} - #{$footer-height}) !important;
    max-height: unset !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
  }
}

.footer {
  text-align: center;
  height: $footer-height;
}
